body {
    background-color: #88c1d0;
}
@media screen and (min-width: 1050px) and (max-width: 1080px) {
    body {
      background-color: #ffca4b;
    }
  }
  
  @media screen and (min-width: 1024px) and (max-width: 1050px) {
    body {
      background-color: #275fa0;
    }
  }
  
  @media screen and (max-width: 1024px) {
    body {
      background-color: #ffffff;
    }
  }